
@{
    Layout = null;
}

<div style="width:auto">

    <h1 align="center">About Us</h1>

    <p align="center">
        The University of Sindh, the oldest University of the country, was constituted under the University of Sindh Act.
        No. XVII of 1947 passed by the Legislative Assembly of Sindh.
        The Act was subsequently revised and modified in 1961 and later.
        The Act of 1972 under which the University is presently functioning provided for greater
        autonomy and representation of teachers .
        From 1947 to 1951 the University functioned solely as an examining body. However,
        after its relocation in Hyderabad in 1951,
        it started functioning as a teaching university in pursuit of fulfillment of its charter and mission to disseminate knowledge;
        the first teaching department, namely, Department of Education, raised to the status of Faculty of Education later,
        was started in view of the great dearth of trained teachers in the country.

    </p>
    <br />
    <div align="left">
        <h6><b>Contact Us:</b></h6> <pre>
        <b> Tel. No. +92-22-9213-181-90 (Ten Lines)
                    Email: info@usindh.edu.pk
                    Address: Allama I.I.Kazi Campus, University of Sindh, Jamshoro-76080, Sindh, Pakistan.
                       </b>
                </pre>
    </div>

</div>
