<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
     <link href="~/SidebarDesign/css/style.css" rel="stylesheet" />
    <style>
        .divmargin {
            margin-top: 30px;
        }

        .divdesign {
            color: white;
            min-height: 30px;
            font-size: 20px;
            border-radius: 3px 4px;
        }

        .clr {
            width: 300px;
        }
    </style>

</head>
<body>

    

                @RenderBody()
               


                <footer>
                    <div>
                        <nav class="nav navbar-brand navbar-light">

                        </nav>
                    </div>
                </footer>

    


               <!--<div class="wrapper d-flex align-items-stretch">
                    <nav id="sidebar">
                        <div class="p-4 pt-5">
                            <ul class="list-unstyled components mb-4">
                                <li class="active"> </li>
                            </ul>
                        </div>
                    </nav>
                </div> 
             </div>
            <div class="col-md-9">
                <div id="content" class="p-4 p-md-3">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container-fluid">
                            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                                <span class="sr-only">Toggle Menu</span>
                            </button>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" class="form-control" style="border-radius:6px 5px" placeholder="Search with Location" />
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary img-circle">Search</button>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
              
                   --> 

                
    



    <div>
        <script src="~/SidebarDesign/js/popper.js"></script>
        <script src="~/SidebarDesign/js/jquery.min.js"></script>
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/js/bootstrap.min.js"></script>
        <script src="~/SidebarDesign/js/main.js"></script>
    </div>
</body>
</html>
